<ul>
	@foreach($comments as $comment)
	<li>
		<div class="avatar"><img src="{{ asset('storage/uploads/member/photo/'.$comment->user->userdescription->photo) }}" class="kyt-avatar-comment" title="{{$comment->user}}"></div>
		<div class="comment-content"><div class="arrow-comment"></div>
		<div class="comment-by">{{ str_limit(strip_tags(ucwords($comment->user->name)), 21) }}<span class="date rateing">{{date($articles->date_format, strtotime($comment->created_at))}}
		@if($comment->value=='1')
			(<i class="fa fa-star filled"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>)									
		@elseif($comment->value=='2')
			(<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>)
		@elseif($comment->value=='3')
			(<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>)
		@elseif($comment->value=='4')
			(<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star"></i>)	
		@elseif($comment->value=='5')
			(<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>
			<i class="fa fa-star filled"></i>)
		@else
			(<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>
			<i class="fa fa-star"></i>)
		@endif <span>			
			<a href="#createModal" data-toggle="modal" data-target="#createModal" data-id="{{$comment->id}}" data-article_id="{{$articles->id}}" class="reply kyt-reply-button" title="@lang('global.Add New')"><i class="fa fa-reply"></i> Reply</a>
		</div>
			<p>{!!$comment->comment!!}</p>
		</div>
		@if(count($comment->childs))
			@include('article.comment.list',['childs' => $comment->childs])
		@endif
	</li>
	@endforeach	
</ul>