	.filled{
		color:#1C9963;
	}
#comment-main-level.comment_box {
    background: none repeat scroll 0 0 #F6F6F6;
    float: left;
    margin-bottom: 20px;
    padding: 5px;
	box-sizing: content-box;
	border: 1px solid #000;
	width:100%;
	
		position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
}
	.comment-head {
		border-color:#000;
	}
	#hr-comment-parent {
		border-color:#f8f8f8;
	}
	#hr-comment-child {
		border-color:#f8f8f8;
	}	
	ul {
	list-style-type: none;
}



.comments-container {
	margin: 20px auto 15px;
	width: 50%;
	color:#999999;
	font-size:15px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}


@media only screen and (max-width: 766px) {
	.comments-container {
		width: 100%;
	}

}