.kyt-font-green{
	color:#2867b2;
}

.kyt-font-green a{
	color:#2867b2;
}

.kyt-text-align-left{
	text-align: left;
}
.kyt-color-text{
	color:#FF0000;
}
.kyt-sidebar-status a{
	color:#ffffff;
}

.kyt-sidebar-status a:hover{
	color:#ffffff;
	text-decoration: underline;
}

.invalid-feedback{
	color:#FF0000;
}
.kyt-message-success{
	color:#2867b2;
}
.kyt-avatar-comment{
	width:70px;
	height:70px;
}
.kyt-reply-button a{
	background-color:#000000;
}
.kyt-reply-button a:hover{
	background-color:#000000;
}
.kyt-header-content-message{
	color:#009900;
}
.kyt-message-data-empty{
	color:#FF0000;
}
.kyt-countday-grid-job{
font-size:12px;
color:#d20001;	
}
.kyt-check-green{
	color:#00cc00;
}