::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #91b1c3;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #91b1c3;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #91b1c3;
}
:-moz-placeholder { /* Firefox 18- */
  color: #91b1c3;
}

#textareajob{
	height:300px;
}
.inputanKY{
	background-color:#FFFFFF;
}
input:read-only {
	color: #CB000F;
}
/*.btn-kuning{
	background-color:#FFD700;
	color:#000000;
	padding-left:25px;
	padding-right:25px;
}*/
.p-center{
	text-align:center;
}
.btn-kuning{
		text-align:center;
background:#ffe300;
border-radius:3px;
color:#696969;
padding:6px 25px;
text-transform:unfirstcase;
margin:0 auto;
/*min-width:220px;*/
}

.btn-kuning:hover{
	text-align:center;
background-color:#ffed00;
border-radius:3px;
color:#636d75;
padding:6px 25px;
text-transform:unfirstcase;
margin:0 auto;
/*min-width:220px;*/
}
.btn-hijau{
		text-align:center;
background:#2867b2;
border-radius:3px;
color:#ffffff;
padding:6px 25px;
text-transform:unfirstcase;
margin:0 auto;
/*min-width:220px;*/
}

.btn-hijau:hover{
	text-align:center;
background-color:#339933;
border-radius:3px;
color:#ffffff;
padding:6px 25px;
text-transform:unfirstcase;
margin:0 auto;
/*min-width:220px;*/
}
.span-umum{
	text-transform: none;
	color:#707c88;
}
.snow-container{
	font-family: 'Raleway', sans-serif;
color: #35434e;
	font-size:14px;
}
.snow-container ul{
	font-family: 'Raleway', sans-serif;
color: #35434e;
	font-size:14px;
}
.snow-container li{
	font-family: 'Raleway', sans-serif;
color: #35434e;
	font-size:14px;
}

.kayetanus-p{
	padding-top:10px;

}

.kayetanus-panel-body p{
	color:#707c88;
}

.kayetanus-panel-body ul{
	color:#707c88;
}
.kayetanus-panel-body li{
	color:#707c88;
}
.kayetanus-panel-body ul li{
	color:#707c88;
}

.kayetanus-remove-logo{
	padding-top:20px;
	padding-bottom:10px;
	text-align:center;
	font-size:40px;
	color:green;
}
.fa-building{
	font-size:40px;
	color:#2867b2;
}

.application-status{
	background-color:#008000;
}
.alert-success{
	font-size:12px;
}
.alert-warning{
	font-size:12px;
}
.alert-danger{
	font-size:12px;
}
.alert-info{
	font-size:12px;
}
.kayetanus-application-created{
	color:#a5acb0;
}
.kayetanus-bandingkan{
	color:#008000;
}
.kayetanus-bandingkan a:hover{
	color:#000;
}
#status-sudah-melamar{
	background:#cccccc;
}