.kyt-font-green{
	color:#2867b2;
}

.kyt-font-green a{
	color:#2867b2;
}

.kyt-text-align-left{
	text-align: left;
}
.kyt-color-text{
	color:#FF0000;
}
.kyt-sidebar-status a{
	color:#ffffff;
}

.kyt-sidebar-status a:hover{
	color:#ffffff;
	text-decoration: underline;
}

.invalid-feedback{
	color:#FF0000;
}
.kyt-message-success{
	color:#2867b2;
}
.kyt-avatar-comment{
	width:70px;
	height:70px;
}
.kyt-reply-button a{
	background-color:#000000;
}
.kyt-reply-button a:hover{
	background-color:#000000;
}
.kyt-header-content-message{
	color:#009900;
}
.kyt-message-data-empty{
	color:#FF0000;
}
.kyt-countday-grid-job{
font-size:12px;
color:#d20001;	
}

.kyt-header-content {
    background: #f5f6f7;
    padding: 3em 0;
}
.kyt-header-content input.form-control, .kyt-header-content select.form-control {
background: #f5f6f7;
border-radius: 2px;
height: 48px;
margin-bottom: 10px;
border: 1px solid #4f616f;
width: 100%;
color:#99abb9;
}
.kyt-header-content button.btn.btn-primary {
width: 100%;
height: 48px;
border-radius: 2px;
font-size: 16px;
background: #f5f6f7;
border: 1px solid #0bbf0b;
}
.kyt-header-content input.form-control:focus, select.form-control:focus{
border:1px solid #f5f6f7;
box-shadow:0px 0px 7px 1px rgba(7,177,7,0.1);
}

.kyt-font-kecil{
	font-size:10px;
}

#kyt-textareaMini{
	height:100px;
}


#text-disabled{
	background-color:#f5f5f5;
}
#kyt-label-font11{
	color:#707c88;
	font-size:11px;
}

.kyt-label-font13{
	color:#707c88;
	font-size:13px;
}

.kyt-label-font13 a{
	color:#2867b2;
	font-size:13px;
}

#kyt-div-textcenter{
	text-align:center;
}

.kyt-font-white{
	color:#ffffff;
}

/*HALAMAN PAGE STATIC*/
.kyt-page-static{
    background: #fff;
    padding: 30px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.modal-body .kyt-page-static {
    background: #fff;
    padding:60px40px 40px;
    margin: 0 auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.kyt-page-static .form-control {
    height: 50px;
    border: none;
	padding-left: 45px;
    margin-bottom:0px;
    box-shadow: none;
    border-radius: 0;
    background: #ffffff;
}
.kyt-page-static label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 600;
    color: #263c61;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: -11px;
    left: 40px;
    padding: 0 5px;
    background: #ffffff;
}
.kyt-page-static .form-group{
    border: 1px solid #eee;
    padding: 14px 18px 15px;
    margin-bottom: 30px;
    border-radius: 5px;
	position:relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.kyt-page-static .btn-primary {
    padding:18px 0;
    font-size: 19px;
}
.kyt-page-static .social-login {
    margin-top: 35px;
}

.kyt-page-static .tab-content {
    padding: 0;
}

.kyt-page-static .input-with-icon .form-control, .kyt-page-static .input-with-shadow .form-control, .kyt-page-static .input-with-shadow .select2-container, .kyt-page-static .input-with-icon .select2-container {
    border: none;
    border-radius: 5px;
    padding-left: 45px;
    height:50px;
    background: #ffffff;
    overflow: hidden;
    box-shadow:none;
    -webkit-box-shadow:none;
}

body nav.navbar.bootsnav ul.nav > li > a.kyt-signin {
    background: #d5d8da !important;
}

body nav.navbar.bootsnav ul.nav > li > a.kyt-signin {
color:#ffffff !important;
border-radius: 2px;
padding: 8px 20px;
margin-left:5px;
}

body nav.navbar.bootsnav ul.nav > li > a.kyt-signin {
padding: 8px 30px;
margin-left: 5px;
}

li.kyt-left-br {
    border-left: 1px solid rgba(7, 177, 7,0.4);
}

/* Profile Image */
.profile-image-outer-container {
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
}

.profile-image-outer-containerCover {
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 0%;
	position: relative;
	cursor: pointer;
}

.profile-image-outer-container .profile-image-input {
	position: absolute;
	top: 0;
	height: 100%;
	opacity: 0;
	z-index: 3;
	cursor: pointer;
}

.profile-image-outer-containerCover .profile-image-input {
	position: absolute;
	top: 0;
	height: 100%;
	opacity: 0;
	z-index: 3;
	cursor: pointer;
}

.profile-image-outer-container .profile-image-inner-container {
	border-radius: 50%;
	padding: 5px;
}

.profile-image-outer-containerCover .profile-image-inner-container {
	border-radius: 0%;
	padding: 5px;
}

.profile-image-outer-container .profile-image-inner-container img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 5px solid white;
}

.profile-image-outer-containerCover .profile-image-inner-container img {
	height: 200px;
	width: 300px;
	border-radius: 0%;
	border: 5px solid white;
}

.profile-image-outer-container .profile-image-inner-container .profile-image-button {
	position: absolute;
	z-index: 2;
	bottom: 15px;
	right: 15px;
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 50%;
	line-height: 38px;
	-webkit-transition: ease all 0.1s;
	transition: ease all 0.1s;
}

.profile-image-outer-containerCover .profile-image-inner-container .profile-image-button {
	position: absolute;
	z-index: 2;
	bottom: 15px;
	right: 15px;
	width: 50px;
	height: 40px;
	text-align: center;
	border-radius: 0%;
	line-height: 38px;
	-webkit-transition: ease all 0.1s;
	transition: ease all 0.1s;
}

.profile-image-outer-container:hover .profile-image-button {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.profile-image-outer-containerCover:hover .profile-image-button {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#accordionRigh  .panel{
    border:none;
    outline:none;
}
#accordionRigh  .panel-heading{
    padding:0;
}
#accordionRigh .panel-heading > .panel-title{
    position: relative;
}
#accordionRigh .panel-heading > .panel-title > a{
    display: block;
    font-size:14px;
    padding:18px 35px 18px 15px;
    text-transform:uppercase;
    background:#2867b2;
    color:#fff;
    transition:all 0.2s linear 0s;
}
#accordionRigh .panel-title > a.collapsed {
    background: #e7ecea;
    color: #707c88;
}
#accordionRigh .panel-title > a.collapsed:hover{
    color:#2867b2;
}
.panel-body p{
color: #707c88;
font-size: 14px;
line-height: 30px;
}
#accordionRigh .panel-title > a:after,
#accordionRigh .panel-title > a.collapsed:after{
    content: "\f139";
    font-family: FontAwesome;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    right:12px;
}
#accordionRigh .panel-title > a.collapsed:after{
    content: "\f13a";
    color:#808080;
}
#accordionRigh .panel-body{
    border:none;
}